/* the styles for the HTML elements */
html {
    background-image: url("Cash.jpg")
    
    
}
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, sans-serif;
    margin-top: 120px;
    padding: 0 2em;
    background-image:url("hot-doggy.jpg");
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
  
   
}
header {
    border-bottom: 2px solid black;
  
}
header h1 {
    color: black;
}
main {
    margin-bottom: 1em;
}
h1 {
    font-size: 150%;
    margin: .5em 0;
}
h2 {
    color:blueviolet;
    font-size: 120%;
    margin: .25em 0 .5em;
}
h1, h2 {
    color: darkgreen;
    text-shadow: 
   -1px -1px 0 rgba(252, 247, 247, 0.96),  
   1px -1px 0 rgb(253, 252, 252),
   -1px  1px 0 rgb(254, 253, 253),
   1px  1px 0 rgb(250, 247, 247);
    text-align: center;
}
ul {
    margin: 0 0 .5em 0;
    padding: 0 0 0 2.5em;

}
p {
    font-weight: bolder;
    color:red;
    text-shadow: 
    -1px -1px 0 rgba(252, 247, 247, 0.96),  
    1px -1px 0 rgb(253, 252, 252),
    -1px  1px 0 rgb(254, 253, 253),
    1px  1px 0 rgb(250, 247, 247);
}
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
a {
    color: rgb(41, 64, 124);
    font-weight: bold;    
}
a:hover {
    color: rgb(208, 133, 4);
}
p {
    color:white;
   
    text-shadow: 
    -1px -1px 0 rgba(12, 8, 8, 0.96),  
    2px -1px 0 rgb(8, 1, 20),
    -1px  1px 0 rgb(53, 146, 190),
    2px  1px 0 rgb(14, 1, 1);
    margin: 0;
    padding-bottom: .5em;
}
form {
    margin: 0;
    padding: 0;
}
input[text], select {
    width: 15em;
}
label {
    width: 5em;
    float: left;
    margin-right: 1em;
    margin-bottom: .5em;
    text-align: right;
}
br {
    clear: left;
}
button{

        background-color: #bde715; 
        color:blue;
        padding: 15px 32px; /* Padding */
        text-align: center; /* Centered text */
        text-decoration: none; /* No underline */
        display: inline-block; /* Inline-block display */
        font-size: 16px; /* Font size */
        margin: 4px 2px; /* Margin */
        cursor: pointer; /* Pointer cursor on hover */
        border-radius: 12px; 
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s, box-shadow 0.3s;
  
    
 
}
button:hover {
    background-color: #45a049; /* Darker green on hover */
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

button:disabled {
    background-color: #cccccc; /* Gray background */
    color: #666666; /* Dark gray text */
    cursor: not-allowed; /* Not-allowed cursor */
}
input {
    background-color: #bde715; 
    color:blue;
        padding: 15px 32px; /* Padding */
        text-align: center; /* Centered text */
        text-decoration: none; /* No underline */
        display: inline-block; /* Inline-block display */
        font-size: 16px; /* Font size */
        margin: 4px 2px; /* Margin */
        cursor: pointer; /* Pointer cursor on hover */
        border-radius: 12px; 
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s, box-shadow 0.3s;
  
}

label{
    background-color: #bde715; 
        color:blue;
        padding: 15px 32px; /* Padding */
        text-align: center; /* Centered text */
        text-decoration: none; /* No underline */
        display: inline-block; /* Inline-block display */
        font-size: 16px; /* Font size */
        margin: 4px 2px; /* Margin */
        cursor: pointer; /* Pointer cursor on hover */
        border-radius: 12px; 
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s, box-shadow 0.3s;
  
}
option{
        background-color: #bde715; 
        color:blue;
        padding: 15px 32px; /* Padding */
        text-align: center; /* Centered text */
        text-decoration: none; /* No underline */
        display: inline-block; /* Inline-block display */
        font-size: 16px; /* Font size */
        margin: 4px 2px; /* Margin */
        cursor: pointer; /* Pointer cursor on hover */
        border-radius: 12px; 
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s, box-shadow 0.3s;
  
}

option:hover{
    background-color: #45a049; /* Darker green on hover */
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


